*{
	box-sizing: border-box; 
}
.header{
	background-color: transparent;
}

#home{
	position: relative;
}
#home .banner>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-animation: bannerAnimation 18s linear infinite 0s;
    -moz-animation: bannerAnimation 18s linear infinite 0s;
    -o-animation: bannerAnimation 18s linear infinite 0s;
    -ms-animation: bannerAnimation 18s linear infinite 0s;
    animation: bannerAnimation 18s linear infinite 0s; 
}

#home .banner>div:nth-child(1){
	background: rgb(255,200,0) url(../images/img_bg_2.jpg);
	background-size: cover;
    background-position: center center; 
	background-repeat: none none;
}

#home .banner>div:nth-child(2){
	background: rgb(0,200,255) url(../images/img_bg_1.jpg);
	background-size: cover;
    background-position: center center; 
	background-repeat: none none;
	-webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}

#home .banner>div:nth-child(3){
	background: rgb(255,0,200) url(../images/yanjiang.jpg);
	background-size: cover;
    background-position: center center; 
	background-repeat: none none;
	-webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}

@-webkit-keyframes bannerAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    16% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    33% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 0 }
}



.examples-display{
	overflow: hidden;
	position: relative;
}

.examples-slider-wrap{
	position: absolute;
	left: 0;
	right: 0;
	height: 250px;
	width: 200%;
}

.examples-slider-wrap .item{
	float: left;
	height: 250px;
	width: 16.7%;
	display: inline-block;
	border-radius: 50px;

}

.examples-slider-wrap .one{
	background: url(../images/img_01.jpg) no-repeat center;
	background-size: cover;
}
.examples-slider-wrap .two{
	background: url(../images/img_02.jpg) no-repeat center;
	background-size: cover;
}
.examples-slider-wrap .three{
	background: url(../images/img_03.jpg) no-repeat center;
	background-size: cover;
}
.examples-slider-wrap .four{
	background: url(../images/img_04.jpg) no-repeat center;
	background-size: cover;
}
.examples-slider-wrap .five{
	background: url(../images/img_05.jpg) no-repeat center;
	background-size: cover;
}


.ex-tab{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -25px;
}

.ex-tab i{
	font-size: 3em;
	color:rgb(255,81,38);
}

.ex-tab .prev{
	float: left;
	margin-left: 2em;
}

.ex-tab .next{
	float: right;
	text-align: right;
	margin-right: 2em;
}

.circle-btn{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -45px;
}

.circle-btn>div{
	float: left;
	width: 10px;
	height: 10px;
	border: 2px rgb(255,81,38) solid;
	border-radius: 50%;
	margin-right: 10px;
}

.circle-btn>div.active{ background: rgb(255,81,38); }

@media screen and (max-width: 1200px){

.examples-display{
	height: 350px;
	width: 100%;
}

.examples-slider-wrap{ height: 350px; }

.examples-slider-wrap .item{
	height: 350px;
	width: 25%;
}

.examples-slider-wrap .item img{ margin-left: 5%; }

}

@media screen and (max-width: 1000px){

.examples-display{ height: 300px; }

.examples-slider-wrap{ height: 300px; }

.examples-slider-wrap .item{ height: 300px; }

}

@media screen and (max-width: 800px){

.examples-display{ height: 250px; }

.examples-slider-wrap{ height: 250px; }

.examples-slider-wrap .item{ height: 250px; }

}

@media screen and (max-width: 700px){

.examples-display{ height: 220px; }

.examples-slider-wrap{ height: 220px; }

.examples-slider-wrap .item{ height: 220px; }

}

@media screen and (max-width: 620px){

.examples-display{ height: 280px; }

.examples-slider-wrap{ height: 280px; }

.examples-slider-wrap .item{
	height: 280px;
	width: 50%;
}

.examples-slider-wrap .item img{ margin-left: 5%; }

.ex-tab{ margin-top: -16px; }

.ex-tab i{ font-size: 2em; }

.circle-btn{ bottom: 1em; }

.ex-tab .prev{ margin-left: 0.6em; }

.ex-tab .next{ margin-right: 0.6em; }

}
