*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: rgb(0,0,0);
}
a:hover{
	color: rgb(255,81,38);
}

html,body{
	box-sizing: border-box; 
	height: 100%;
}

.header{
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,1);
	z-index: 99;
}

.header img{
	height: 60px;
	/*border: 1px rgb(255,0,0) solid;*/
	margin-top: 10px;
}

nav{
	float: right; 
	font-size: 15px;
	font-family: 微软雅黑;
	text-align: center;
}

nav ul li{
   float:left;
   list-style: none;
   height:80px;
   line-height: 80px;
   margin:0 10px;
   /*border: 1px rgb(0,0,0) solid;*/
   font-size: 1.2em;
}
nav ul li:last-child{
	margin-right: 20px;
}
.clear-float{
	clear: both;
}

#home{
	height: 100%;
	background-color: rgb(0,200,150);
}
.main{
	/*height: 100%;*/
	width: 90%;
	margin: 0 auto;
}

#products h2{
	text-align: center;
	font-size: 2.5em;
	margin: 2em auto;
	border-bottom: 1px orange solid;  
}

#products .item-one{
	margin-bottom: 2em;
}

#products .item-one-sum{
	float: left;
	width: 50%;
}

#products .item-one-sum h3{
	text-align: center;
	color:rgb(255,81,38);
}

#products .item-one-sum p{
	text-indent: 2em;
	margin: 2em 1em 2em;
}

#products .item-one-display{
	float: right;
	width: 50%;
	text-align: center;
}
.item-one-display>div{
	text-align: center;
}
.item-one-display>div>img{
	width:100%;
	border: 1px rgb(255,255,0) solid;
}

.item-one-display p{
	text-indent: 2em;
	margin: 1em 0;
}

.item-one-display input{
	outline: medium;
	width: 80px;
	height: 30px;
	border: 2px rgb(255,81,38) solid;
	border-radius: 5px;
	color: rgb(255,81,38);
	background-color: transparent;
}

.item-one-display input:hover{
	cursor: pointer;
	border-color:rgba(255,81,38,0.5);
	color:rgba(255,81,38,0.5);
}

.item-two .item-two-sum{
	float: right;
	width: 50%;
}

.item-two-sum h3{
	margin:2em 0 1em;
	text-align: center;
	color: rgb(255,81,38);
}

.item-two-sum p{
	margin: 0 10px;
}

.item-two .pic-show{
	float: left;
	width: 50%;
	height:300px;
	background: rgb(0,200,200) url(../images/pic-show) no-repeat center;
	background-size: 100%;
	/*border: 1px rgb(0,0,0) solid;*/
}

.item-two-display {
	margin: 2em auto;
}

.row{
	/*border: 1px rgb(0,0,0) solid;*/
}

.item-two-display article{
	float: left;
	/*width: 50%;*/
	/*height: 200px;*/
	position: relative;
	/*min-height: 150px;*/

	width: 50%;
	/*border:1px rgb(0,0,255) solid;*/
}
.item-two-display article span{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	margin: 30px 20px 30px;
	/*border: 1px rgb(0,0,0) solid;*/
}

.item-two-display article span img{
	width:120%;
}
.item-two-display article:nth-child(1){
	/*background-color: rgba(20,202,20,0.8)*/
}
/*.item-two-display article:nth-child(1) span{
	
	margin-left: 100px;
	margin-top: 30px;
}*/

.item-two-display article div{
	/*margin-left: 100px;
	margin-top: 30px;*/
	margin: 30px 20px 20px 110px;
}

.item-two-display article h4{
margin:0 0 1em 1em;
}

.item-two-display article p{
line-height: 1.5em;
}

#examples{
	margin: 2em auto;
}

#examples h2{
	text-align: center;
	margin: 2em auto;
}

.examples-display{
	/*text-align: center;*/
	height: 300px;
	background-color: rgba(200,10,0,0.9);
}

#about{
	width:90%;
	margin: 2em auto;
}
#about h2{
	text-align: center;
	margin: 2em auto;
}
#about p{
	text-indent: 2em;
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 2em 0;
	letter-spacing:2px;
}
#about p a{
	color:rgb(255,81,38);
}
#about>div{
	text-align: center;

}
#about dl{
	border: 1px rgb(255,0,0) solid;
	display: inline-block;
	width:45%;
	text-align: center;
}
#about>div dl:first-child{
	margin-right:4%;
}
#about dl dt{
	height:300px;
	/*width:45%;*/
	border-radius: 5%;
	background-color: rgb(200,200,0);
}

#about dl dd{
	margin: 1em;
}

#contact{
	margin: 2em auto;
}
#contact>div{
	margin: 2em 0;
}
#contact h2{
	margin: 2em auto;
	text-align: center;
}

#map{
	width: 50%;
	height: 400px;
	background-color: rgb(100,100,100);
	float: left;
}

.contact-info{
	width: 50%;
	float: left;
}
.contact-info h3{
	/*text-align: center;*/
	margin: 2em 2em 1em;
}

.contact-info ul{
	list-style: none;
	margin:1em 2em;
}

.contact-info ul li{
	font-size: 1.1em;
	line-height: 2em;
	color: rgb(50,50,50);
}
.contact-info ul li a{
	color: rgb(255,81,38);
}


.contact-help{
	height:400px;
	border: 1px rgb(0,0,0) solid;
	margin: 4em 0;
	background: rgb(0,100,200) url(../images/beijing.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.contact-help .cover{
	height:400px;
	width:100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	left:0;
}

.contact-help h3{
	text-align: center;
	margin-top:180px;
	color: rgb(255,255,255);
	font-size: 1.2em;
}
.contact-help h3 a{
	color: rgb(255,81,38);
}
.contact-help h3 a:hover{
	color: rgb(255,255,255);
}
.footer{
	text-align: center;
	margin:3em auto;
}

@media screen and (max-width:800px){

.main{
	width: 98%;
}

#products h2{
	font-size: 2em; 
}


#products .item-one-sum{
	float: none;
	width: 100%;
}

#products .item-one-display{
	float: none;
	width: 100%;
}

.item-two .item-two-sum{
	float: none;
	width: 100%;
}

.item-two-sum h3{
	margin:3em 0 1em;
}

.item-two-sum p{
	text-align: center;
	margin:2em 0;
}

.item-two .pic-show{
	float: none;
	width: 100%;
}

.item-two-display article{
	float: none;
	position: relative;
	width: 100%;
}



.item-two-display article span{
	margin: 10px 20px 30px;
}

.item-two-display article span img{
	width:100%;
}

.item-two-display article div{
	margin: 30px 20px 20px 110px;
}

#about h2{
	margin: 3em auto 1em;
}

#about dl{
	width:70%;
	margin: 2em auto;
}

#about>div dl:first-child{
	margin-right:auto;
}

#map{
	width: 90%;
	float: none;
	margin:2em auto;
}

.contact-info{
	width: 70%;
	float: none;
	margin: 1em auto;
}

.contact-info h3{
	margin-left: 20% ;
}

}



@media screen and (max-width:600px){

#products .item-one-sum{
	float: none;
	width: 100%;
}

.item-one-display p{
	text-indent: 0;
	margin: 1em;
}


.item-two-sum p{
	text-align: justify;
	margin:2em 1em;
}


.item-two-display article span{
	border: 1px rgb(0,0,0) solid;
	margin:-10px 0 0 0;
}

.item-two-display article span img{
	width:60%;
	margin-left: 10px;
}

.item-two-display article div{
	margin: 30px 10px ;
}

.item-two-display article h4{
 margin:1em 0 1em 4em;
}

.item-two-display article p{
text-align: justify;
}

#about h2{
	margin: 3em auto 1em;
}

#about dl{
	width:98%;
	margin: 1em auto;
}

#map{
	width: 98%;
}

.contact-info{
	width: 100%;
}

.contact-info h3{
	margin: 2em auto 1em;
	text-align: center;
}

.contact-info ul{
	margin:1em 1em;
}

.contact-info ul li{
	font-size: 1em;
}

.contact-help h3{
	font-size: 1em;
}

.footer{
	text-align: justify;
	margin:3em 1em 2em;
}


}