*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: rgb(0,0,0);
}

a:hover{ color: rgb(255,81,38); }

html,body{
	box-sizing: border-box; 
	height: 100%;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(255,255,255,1);
	z-index: 99;
}

.header img{
	height: 60px;
	margin-top: 10px;
}

nav{
	float: right; 
	font-size: 15px;
	font-family: 微软雅黑;
	text-align: center;
}

nav ul li{
   float:left;
   height:80px;
   line-height: 80px;
   margin:0 10px;
   font-size: 1.2em;
   list-style: none;
}

nav ul li:last-child{ margin-right: 20px; }

.mobile-menu{ display: none; }

.clear-float{ clear: both; }

#home{ height: 100%; }

.main{ margin: 0 auto; }

#products{
	width: 90%;
	margin: auto;
}

#products h2{
	text-align: center;
	margin: 2em auto;
}

#products .item-one{ margin-bottom: 2em; }

#products .item-one-sum{
	float: left;
	width: 50%;
}

#products .item-one-sum h3{
	text-align: center;
	color:rgb(255,81,38);
}

#products .item-one-sum p{
	text-indent: 2em;
	margin: 2em 1em 2em;
}

#products .item-one-display{
	float: right;
	width: 50%;
	text-align: center;
}

.item-one-display>div{ text-align: center; }

.item-one-display>div>img{ width:100%; }

.item-one-display p{
	text-indent: 2em;
	margin: 1em 0;
}

.item-one-display input{
	width: 80px;
	height: 30px;
	border: 2px rgb(255,81,38) solid;
	border-radius: 5px;
	color: rgb(255,81,38);
	background-color: transparent;
	outline: medium;
}

.item-one-display input:hover{
	cursor: pointer;
	border-color:rgba(255,81,38,0.5);
	color:rgba(255,81,38,0.5);
}

.item-two .item-two-sum{
	float: right;
	width: 50%;
}

.item-two-sum h3{
	margin:2em 0 1em;
	text-align: center;
	color: rgb(255,81,38);
}

.item-two-sum p{ margin: 0 10px; }

.item-two .pic-show{
	float: left;
	width: 50%;
	height:300px;
	background: rgb(0,200,200) url(../images/img_1.png) no-repeat center;
	background-size: 100%;
}

.item-two-display { margin: 2em auto; }

.item-two-display article{
	float: left;
	position: relative;
	width: 50%;
}

.item-two-display article span{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	margin: 30px 20px 30px;
}

.item-two-display article span img{ width:120%; }

.item-two-display article div{ margin: 30px 20px 20px 110px; }

.item-two-display article h4{ margin:0 0 1em 1em; }

.item-two-display article p{ line-height: 1.5em; }

#examples{ margin: 2em auto; }

#examples h2{
	text-align: center;
	margin: 2em auto;
}

.examples-display{
	height: 250px;
	width: 1200px;
	margin: 0 auto;
}


#about{
	width:80%; 
	margin: 2em auto;
}

#about h2{
	text-align: center;
	margin: 2em auto;
}

#about p{
	margin: 2em 0;
	text-indent: 2em;
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5em;
	letter-spacing: 2px;
}

#about p a{ color: rgb(255,81,38); }

#about>div{ text-align: center; }


#about dl{
	display: inline-block;
	width: 45%;
	text-align: center;
}

#about>div dl:first-child{ margin-right:4%; }

#about dl dt{
	height: 300px;
	border-radius: 5%;
	overflow: hidden;
}

#about dl dd{ margin: 1em; }

#contact{
	width: 90%;
	margin: 2em auto;
}

#contact>div{ margin: 2em 0; }

#contact h2{
	margin: 2em auto;
	text-align: center;
}

#map{
	width: 50%;
	height: 400px;
	background-color: rgb(100,100,100);
	float: left;
}

.contact-info{
	width: 50%;
	float: left;
}

.contact-info h3{ margin: 2em 2em 1em; }

.contact-info ul{
	list-style: none;
	margin:1em 2em;
}

.contact-info ul li{
	font-size: 1.1em;
	line-height: 1.8em;
	color: rgb(50,50,50);
}

.contact-info ul li i{ font-size: 1.2em; }

.contact-info ul li a{ color: rgb(255,81,38); }

.contact-help{
	position: relative;
	height:400px;
	margin: 4em 0;
	border: 1px rgb(0,0,0) solid;
	background: rgb(46,173,166) url(../images/beijing.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.contact-help .cover{
	position: absolute;
	height:400px;
	width:100%;
	background-color: rgba(0,0,0,0.5);
	top:0;
	left:0;
}

.contact-help h3{
	text-align: center;
	margin-top:180px;
	color: rgb(255,255,255);
	font-size: 1.2em;
}

.contact-help h3 a{ color: rgb(255,81,38); }

.contact-help h3 a:hover{ color: rgb(255,255,255); }

.footer{
	text-align: center;
	margin:3em auto;
}

@media screen and (max-width:800px){

.main{ width: 98%; }

#products h2{ font-size: 2em; }


#products .item-one-sum{
	float: none;
	width: 100%;
}

#products .item-one-display{
	float: none;
	width: 100%;
}

.item-two .item-two-sum{
	float: none;
	width: 100%;
}

.item-two-sum h3{
	margin:3em 0 1em;
}

.item-two-sum p{
	width: 500px;
	margin:2em auto;
}

.item-two .pic-show{
	float: none;
	width: 100%;
}

.item-two-display article{
	float: none;
	position: relative;
	width: 100%;
}


.item-two-display article span{ margin: 10px 20px 30px; }

.item-two-display article span img{ width:100%; }

.item-two-display article div{ margin: 30px 20px 20px 110px; }

#about h2{ margin: 3em auto 1em; }

#about dl{
	width:70%;
	margin: 2em auto;
}

#about>div dl:first-child{ margin-right:auto; }

#map{
	width: 90%;
	float: none;
	margin:2em auto;
}

.contact-info{
	width: 70%;
	float: none;
	margin: 1em auto;
}

.contact-info h3{ margin-left: 20%; }

}

@media screen and (max-width:680px){

.header{ text-align: center; }

.header img{
	height:50px;
	margin: 0 auto;
}

nav{
	position: fixed;
	top: 0;
	right: -80%;
	height: 100%;
	width: 70%;
	background-color: rgba(0,0,0,0.9);
	z-index: 100;
}

nav ul{ margin-top:5em; }

nav ul li{
   float: none;
   height:2em;
   line-height: 2em;
   margin: auto auto auto 2em;
   text-align: left;
   letter-spacing:3px;
}

nav ul li a{ color: rgba(255,255,255,0.6); }

nav ul li:last-child{ margin-right: auto; }

.mobile-menu{
	display: inline-block;
	position: fixed;
	top: 0;
	right: 0;
	color: rgb(100,100,100);
	float: right;
	font-size: 2em;
	margin: 0.1em 0.6em;
	z-index: 102;

}

.mobile-menu .fa-close{
	color: rgb(200,200,200);
	display: none;
}

}



@media screen and (max-width:600px){

#products .item-one-sum{
	float: none;
	width: 100%;
}

.item-one-display p{
	text-indent: 0;
	margin: 1em;
}


.item-two-sum p{
	width:auto;
	text-align: justify;
	margin:2em 1em;
}


.item-two-display article span{ margin:-10px 0 0 0; }

.item-two-display article span img{
	width:60%;
	margin-left: 10px;
}

.item-two-display article div{ margin: 30px 10px ; }

.item-two-display article h4{ margin:1em 0 1em 4em; }

.item-two-display article p{ text-align: justify; }

#about h2{ margin: 3em auto 1em; }

#about dl{
	width:98%;
	margin: 1em auto;
}

#map{ width: 98%; }

.contact-info{ width: 100%; }

.contact-info h3{
	margin: 2em auto 1em;
	text-align: center;
}

.contact-info ul{ margin: 1em 1em; }

.contact-info ul li{ font-size: 1em; }

.contact-help h3{ font-size: 1em; }

.contact-help{ height: 300px; }

.contact-help .cover{ height:300px; }

.contact-help h3{ margin-top:130px; }

.footer{
	text-align: justify;
	margin:3em 1em 2em;
}

}